{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign desired_url_parts_size = url_parts_size | plus: 1 %}
{% assign sub_nodes = "" | split: "|" %}

{% for node in site.pages %}
  {% if node.url contains page.url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% if desired_url_parts_size == node_url_parts_size %}
      {% assign sub_nodes = sub_nodes | push: node %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if sub_nodes.size > 0 %}
<ul class="sub-nav">
	{% for node in sub_nodes %}
      <li><a href='{{node.url}}'>{{node.title}}</a></li>
      {% endfor %}
</ul>
{% endif %}
